<h2>Post List</h2>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>name</th>
        <th>body</th>
    </tr>
    <% @blogs.each do |b| %>
    <tr>
        <td><%= b.id %></td>
        <td><%= link_to b.title, blog_path(b) %></td>
        <td><%= b.name %></td>
        <td><%= b.body %></td>
    </tr>
    <% end %>
</table>